body,
html,
#app {
    margin : 0;
    font-family: 'Righteous', cursive;
 /* font-family: 'Vibes', cursive; */
 /* font-family: 'Abril Fatface', cursive; */
    color: rgb(87, 17, 46);
}
.flex-container {
    display: flex;
    /* border: 1px solid slategrey */
    

}
.js-conversationHeader{
    background: #aca0a07e;
    border: 1px solid black
}

.background{
    background: url(./assets/img/background.jpg);
    background-size: cover;
    
}

.justify-end {
    justify-content: flex-end;
}

.element {
    /* background-color: rgb(255, 207, 179); */
    /* border: 2px solid rgb(255, 142, 142); */
    margin: 5px;
    border-radius: 5px;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.height-100 {
    height: 100%;
}

.flex-column {
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.msg {
    border-radius: 15px;
    padding: 2px 5px;
    max-width: 500px;
}

.msg-host {
    background: rgba(255, 94, 169, 0.692);
    color: whitesmoke;
}

.msg-guest{
    background:  #ff5f37;
    color: black;
}

.vertical-50{
    height: 50px;
}
.vertical-10{
    height: 10px;
}

.vertical-scroll{
    overflow-y: auto;
    background: #00000054;
}
.scrollbar{
    margin-left: 5px;
	overflow-y: scroll;
}
.force-overflow
{
	min-height: 500px;
}
.style-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(245, 245, 245, 0.568);
}

.style-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.07, rgb(51, 61, 95)),
									   color-stop(0.75, rgb(99, 166, 248)),
									   color-stop(0.90, rgb(28,58,148)));
}
#js-userInput{
    background: rgba(255, 255, 255, 0.418);
    font-family: 'Righteous', cursive;
    color: #ffffff
}
#js-conFrame{
    /* height: 100%;
    overflow:hidden; */
    /* background: #9b9b9b85; */
}
#js-chatFrame{
    background: #9b9b9b85;  
}
#js-userInput{
    width: 96%;
}
.js-listUserFrame{
    background: #9b9b9b85;
}

#right-side{
   position: relative;
}
#left-side{
    width: 250px;
    background: #9b9b9b85;
    position: relative;
}
.chat-con-item{
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    line-height: 50px;
}

.chat-con-item:hover{
    background-color: aliceblue;
    color: blueviolet;
    cursor: pointer;
    font-style: normal;
}
/* width */

.chat-con-item.active{
    background:rgb(129, 128, 240);
    color:rgb(127, 252, 214);
}

.align-center{
    text-align: center;
}

.input-group {
    margin:20px 0px;
}

.input-group label{
    display: block;
}
.input-group label::after{
    content: ":"
}

.input-group label::before{
    content: "(*)"
}

.btn{
    font-family: 'Work Sans', sans-serif;
    font-weight:bold;
    color:rgb(87, 17, 46);
    background-color: #7ea5ca67;
    border-radius: 3px;
    /* box-shadow: 0 4px 8px 0 rgba(15, 255, 163, 0.705), 0 6px 20px 0 rgba(0, 0, 0, 0.719); */
    cursor: pointer;
    height: 30px;
    
}
.btn-createdCon
{
    font-family: 'Righteous', cursive;
    color: rgb(87, 17, 46);
    height: 40px;
    background-color: #7a74b4a1;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(148, 255, 214, 0.705); */
    cursor: pointer;
}

.btn:hover{
    color:rgb(54, 54, 54);
    background-color:rgb(206, 200, 200);
    box-shadow: 0 4px 8px 0 rgba(82, 130, 202, 0.712);
    border-radius: 13px;
    transition:  all .2s ease-in-out;
    
}
.btn-sendMess{
    width: 80px;
}

.reg-input{
    width: 95%;
}
.btn-moveToRegs{
    margin-left: 2px;
}
.btn-login{
    padding: 0px 10px 0px 10px;
}

input[type="text"],input[type="email"],input[type="password"]{
    border: 2px solid #9b9b9b;
    padding: 5px;
    border-radius: 5px;
    

} 


/* input[type="text"]:focus{

} */

.card{
    background: #ffffff7e;
    padding: 45px;
    box-shadow: 0 4px 8px 0 rgba(15, 255, 163, 0.705), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  
}

.card:hover{
    background: #ffffff;
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    
}

/* @media only screen and (max-width:600px){
.card-sm{
    width: 100%;
}
} */

.white-bg{
    background:#ececec91;
     margin: 10px;
     padding-left: 10px;
     border: 4px solid #2e0606;
     border-radius: 5px;
}

.border-right{
    border-right:1px solid #000000;
}

.border-left{
    border-left:1px solid #000000;
}

.border-bot{
    border-bottom:1px solid #000000;
}

small{
    width: 48px;
    overflow: hidden;
    padding-left: 2px;
    
}