.main-container{
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
#login-screen{
   position: absolute;
   display: flex;
    align-items: center;
    justify-content: center;
}

.js-github{
  color: beige;
  position: relative;
  padding-right: 20px;
  padding-bottom: 20px;
}
.js-github:hover
{
    color:burlywood
}